body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  /* Navbar css code */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }


  /* Image Gallery */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .gallery-item {
    width: 30%;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  


  /* Animation */

  /* Define the keyframes for the animation */
@keyframes shoe-animation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* Apply the animation to the shoe images */
  .shoe-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin-top: -5%;
    padding-bottom: 10%;  


}
  
  .shoe-image {
    animation: shoe-animation 2s ease-in-out infinite;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  }
  
  /* Add some hover effects */
  .shoe-image:hover {
    transform: scale(2.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Unlimited photos */

   #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
   
  }

  .shoe {
    flex-basis: 23%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

.Shoes-title{
  text-align: center;
  font-size: 20px;
  font-style: italic;
}